<form [formGroup]="emp.form" class="myForm">
    <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile>
            <div class="empControls">
                <input type="hidden" formControlName="$key">
                <mat-form-field appearance="outline">
                    <mat-label>Full Name:</mat-label>
                    <input matInput formControlName="fullName" >
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email:</mat-label>
                    <input matInput formControlName="email" >
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mobile No:</mat-label>
                    <input matInput formControlName="mobile" >
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>City:</mat-label>
                    <input matInput formControlName="city" >
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="empControls">
                <div class="myPadding">
                    <mat-radio-group formControlName="gender">
                        <mat-label>Gender:</mat-label>
                        <mat-radio-button value="1">Male</mat-radio-button>
                        <mat-radio-button value="2">Female</mat-radio-button>
                        <mat-radio-button value="3">Others</mat-radio-button>
                      </mat-radio-group>
                </div>
            </div>          
        </mat-grid-tile>
    </mat-grid-list>
</form>

