<form [formGroup]="emp.form" class="myForm">
    <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile>
            <div class="empControls">
                <input type="hidden" formControlName="$key">
                <mat-form-field appearance="outline">
                    <mat-label>Full Name:</mat-label>
                    <input matInput formControlName="fullName" required>
                    <mat-error>This Field is Required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email:</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error>Invalid Email...</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Mobile No:</mat-label>
                    <input matInput formControlName="mobile" required>
                    @if (emp.form.controls['mobile'].errors?.['required']) {
                        <mat-error>This Field is Required</mat-error>
                    }@else {
                        <mat-error>Minimum 10 charecters Required</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>City:</mat-label>
                    <input matInput formControlName="city" >
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="empControls">
                <div class="myPadding">
                    <mat-radio-group formControlName="gender">
                        <mat-label>Gender:</mat-label>
                        <mat-radio-button value="1">Male</mat-radio-button>
                        <mat-radio-button value="2">Female</mat-radio-button>
                        <mat-radio-button value="3">Others</mat-radio-button>
                      </mat-radio-group>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Department:</mat-label>
                    <mat-select formControlName="department">
                        @for (item of department; track $index) {
                        <mat-option id="item.id">{{item.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Hire_Date:</mat-label>
                    <input matInput formControlName="hireDate" placeholder="HireDate" [matDatepicker]="picker">
                    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <section class="example-section">
                    <mat-checkbox  formControlName="isPermanent"> Peramanent Employee</mat-checkbox>
                </section>
                <div class="myButtons">
                    <button mat-raised-button color="primary" [disabled]="emp.form.invalid" type="submit">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                </div>
            </div>          
        </mat-grid-tile>
    </mat-grid-list>
</form>

